<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
         <ul>
            {% for task in tasks %}
                <li>
                    <P>{{task.name}}</P>
                    {% for emp in tasks.assigned_to.all %}
                        <SPan>{{emp.name}}</SPan>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        {% comment %} {{tasks}} {% endcomment %}
    </div>
</body>
</html>