{% extends "dashboard/dashboard.html" %}
{% block title %}User Dashboard{% endblock title %}
{% block task %}
            {% comment %} Table Task {% endcomment %}

            <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2 gap-4">

                <div class="bg-white rounded-xl shadow-sm">
                    <h1 class="p-4 font-semibold text-3xl">Today's Tasks</h1>
                    <div class="divide-y divide-gray-100">
                        <div class="flex justify-between p-4">
                            <div class="flex items-center gap-2">
                            <div class="w-2 h-2 rounded-full bg-green-500"></div>
                            <div>
                                <span>Complete Project proposal</span>
                            </div>
                        </div>
                        <div>
                            <span class="px-3 py-1 px-3 py-1 text-gray-600 text-sm">High</span>
                        </div>
                        </div>
                    </div>
                    {% comment %} Reviwe team Updates {% endcomment %}
                     <div class="divide-y divide-gray-100">
                        <div class="flex justify-between p-4">
                            <div class="flex items-center gap-2">
                            <div class="w-2 h-2 rounded-full bg-yellow-500"></div>
                            <div>
                                <span>Reviwe Team Updates</span>
                            </div>
                        </div>
                        <div>
                            <span class="px-3 py-1 px-3 py-1 text-gray-600 text-sm">Normal</span>
                        </div>
                        </div>
                    </div>
                    {% comment %} Prepare for client Metting {% endcomment %}
                     <div class="divide-y divide-gray-100">
                        <div class="flex justify-between p-4">
                            <div class="flex items-center gap-2">
                            <div class="w-2 h-2 rounded-full bg-blue-500"></div>
                            <div>
                                <span>Prepare for client Meeting</span>
                            </div>
                        </div>
                        <div>
                            <span class="px-3 py-1  text-gray-600 text-sm">Low</span>
                        </div>
                        </div>
                    </div>
                </div>


                {% comment %} Tasks Table {% endcomment %}
             <div class="bg-white rounded-xl shadow-sm">
                <h1 class="p-4 font-semibold text-3xl">ALL TASKS</h1>
                <div class="grid grid-cols-4 p-4 border-b border-gray-100 text-sm text-gray-500">
                    <div>TASKS TITLE</div>
                    <div>PRIORITY</div>
                    <div>TEAM</div>
                    <div>CREATED AT</div>
                </div>

                {% comment %} Tasks Items {% endcomment %}

             <div class="divide-y divide-gray-100">
                <div class="grid grid-cols-4 p-4 gap-4 items-center">

                    <div class="flex items-center gap-2">
                        <div class="w-2 h-2 rounded-full bg-green-500"></div>
                        <div>
                            <span>Test Low Tasks</span>
                        </div>
                    </div>
                    <div>
                        <span class="px-3 py-1 rounded-full bg-blue-50 text-blue-600 text-sm">Low</span>
                    </div>
                    <div>
                        <div class="flex -space-x-2">
                            <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                CA
                            </div>
                            <div class="w-8 h-8 rounded-full bg-green-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                JS
                            </div>
                            <div class="w-8 h-8 rounded-full bg-yellow-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                B
                            </div>
                        </div>
                    </div>
                    <div class="text-gray-500">9 Months ago</div>

                </div>
             </div>

             {% comment %} Tasks items {% endcomment %}

             <div class="divide-y divide-gray-100">
                <div class="grid grid-cols-4 p-4 gap-4 items-center">

                    <div class="flex items-center gap-2">
                        <div class="w-2 h-2 rounded-full bg-yellow-500"></div>
                        <div>
                            <span>Test Low Tasks</span>
                        </div>
                    </div>
                    <div>
                        <span class="px-3 py-1 rounded-full bg-gray-200  text-sm">Normal</span>
                    </div>
                    <div>
                        <div class="flex -space-x-2">
                            <div class="w-8 h-8 rounded-full bg-red-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                AJ
                            </div>
                            <div class="w-8 h-8 rounded-full bg-purple-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                EV
                            </div>
                            <div class="w-8 h-8 rounded-full bg-yellow-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                B
                            </div>
                        </div>
                    </div>
                    <div class="text-gray-500">9 Months ago</div>

                </div>
             </div>

             {% comment %} Task Items -3 {% endcomment %}

             <div class="divide-y divide-gray-100">
                <div class="grid grid-cols-4 p-4 gap-4 items-center">

                    <div class="flex items-center gap-2">
                        <div class="w-2 h-2 rounded-full bg-red-500"></div>
                        <div>
                            <span>Test Low Tasks</span>
                        </div>
                    </div>
                    <div>
                        <span class="px-3 py-1 rounded-full bg-red-50 text-red-600 text-sm">Wigh</span>
                    </div>
                    <div>
                        <div class="flex -space-x-2">
                            <div class="w-8 h-8 rounded-full bg-blue-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                CA
                            </div>
                            <div class="w-8 h-8 rounded-full bg-green-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                JS
                            </div>
                            <div class="w-8 h-8 rounded-full bg-red-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                AJ
                            </div>
                            <div class="w-8 h-8 rounded-full bg-yellow-500 flex items-center justify-center text-white text-sm border-2 border-white">
                                B
                            </div>
                        </div>
                    </div>
                    <div class="text-gray-500">9 Months ago</div>

                </div>
             </div>
             
             </div>
            </div>


{% endblock task %}